.carousel-item img{
    object-fit:fill;
}

@media (min-width: 1024px) {
    .carousel-item {
      height: 400px;
      
    }
  }

  @media (max-width: 1024px) {
    .carousel-item {
      height: 130px;
    }
  }

  @media (max-width:1024px){
    .home-carousel{
      margin-top: -40px;
    }
  }