.carousel-item img{
    object-fit:fill;
    margin-top: -190px;
}


@media (min-width: 1024px) {
    .carousel-item {
      margin-top: 65px;
      height: 500px;
      
    }
  }

  @media (max-width: 1024px) {
    .carousel-item {
      height: 230px;
    }
  }

  @media (max-width:1024px){
    .home-carousel{
      margin-top: 55px;
    }
  }