.bulletin-board img{
    width: 100%;
    max-width: 280px;
    object-fit: cover;
}

@media(max-width:1024px){
    .bulletin-board img{
        width: 100%;
        max-width: 150px;
        object-fit: cover;
    }
}

.bulletin-board{
    display: flex;
    flex-direction: row;
} 


@media(max-width:1024px){
    .bulletin-board{
        display: flex;
        flex-direction: row;
        width: 355px;
    } 
}