.nav{
  height: 30px;
  background-color: #2089cf;
}

.btn-noticias{
  background-color: #2089cf;
  color: white
}

.nav-link{
  color: white;
}

.image-wrapper img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.image-wrapper img{
 margin: 0px 30px;
}

.marquee-warning h3{
  border: 2px solid red;
}

.marquee-warning h3::before{
  content:'\0000a0 \0000a0 \0000a0 \0000a0  '
}
.marquee-warning h3::after{
  content:'\0000a0 \0000a0 \0000a0 \0000a0  '
}


@media (min-width:820px) {
  .nav{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
  }
}
@media (max-width:1024px) {
  .nav{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
  }
}




@media(max-width:1024px){
  .nav-list img {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }
}

