.nav{
  height: 30px;
  background-color: #2089cf;
}
.nav-link{
  color: white;
}

.footer-list img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

@media (min-width:820px) {
  .nav p {
    margin-top: 15px;
    font-size: 25px;
  }
}



