.navbar{
    background-color: rgb(206, 55, 55);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 10px;
}

.navbar-nav a{
    color: white;
    height: 330%;
}

.navbar-nav li{
    display: flex;
    align-items: center;
}


#navbarNav{
   width: 100%;
}


.nav-item{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
}

.navbar button{
    color: white;
}

#banner{
    position: relative;
}

@media(max-width:1024px) {
    #banner{
        width: 100%;
    }
}




.img1{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    filter: opacity(0.4) drop-shadow(0 0 0 rgba(2, 2, 2, 0.92)); 
}

.img2{
    width: 30%;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
}
@media(min-width:1024px){
    .img2{
        width: 19%;
        margin-top: 10px;
    }
}

.img3{
    width: 50%;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}
@media(min-width:1024px){
    .img3{
        width: 19%;
        margin-top: 10px;
    }
}


.navbar a:hover{
    background:rgba(255,255,255,0.5);
}

/* .navbar p:hover{
    background:rgb(233, 14, 14);
} */








