.card h5{
    text-decoration: none;
}
 
.card:hover{
     box-shadow: 0 0 6px #0d273a;
 }


 .text-release{
     color: black;
 }

 #img-card img{
     width: 100%;
     height: 100%;
    object-fit: cover;
 }