.card{
    width: 440px;
    max-width: 440px;
}

.card-release h5{
    text-decoration: none;
}
 
.card-release:hover{
     box-shadow: 0 0 6px #0d273a;
 }




 .text-release{
     color: black;
 }

 #img-card img{
     width: 100%;
     height: 100%;
    object-fit: cover;
 }