.card{
    max-width: 450px;
    width: 100%; 
}

@media(max-width:1024px){
    .card{
        max-width: 375px;
        width: 100%;
    }
}

.card-release h5{
    text-decoration: none;
}
 
.card-release:hover{
     box-shadow: 0 0 6px #0d273a;
 }

 .text-release{
     color: black;
 }

 #img-card img{
     height: 100%;
     object-fit: cover;
     width: 100%;
 } 

 hr{
    border:none;
    border-top:1px dashed red;
    color:red;
    background-color:red;
    height:1;
    width:100%;
 }